# WordPress
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Node
node_modules/
npm-debug.log
yarn-error.log

# Composer
/vendor/

# Build files
*.map

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Desktop.ini
